body {
  background-color: RGBA(255, 237, 169, 1);
}

#container {
  margin:15px;
  width: 608px;
  height: 608px;
  clear: both;
  border: black 4px solid;
  padding: 3px;
}

button {
  margin: 15px;
  width: 80px;
  height: 40px;
  font-size: 1.5em;
  color: white;
  border: white 3px solid;
  background-color: RGBA(171, 84, 50, 1);
}